<nav class="nav-bar">
  <div class="nav-bar-content">
    <div class="nav-bar-left">
      <div class="logo"
        routerLink="/home">
        <span class="city-icon">
          <mat-icon>location_city</mat-icon>
        </span>
        ImagineCity
      </div>
    </div>
    <div class="nav-bar-right">
      <a href="https://gorest.co.in/consumer/login" target="_blank" class="nav-bar-item">
        <button mat-fab
          matTooltip="Get your token">
          <mat-icon>face</mat-icon>
        </button>
      </a>
    </div>
  </div>
</nav>
